include ../../components/theme

.header.d-flex.align-items-center
    header.container-fluid.h-100
        .d-flex.justify-content-between.align-items-center.h-100
            .d-flex.align-items-center.gap-4
                include ./slider
                h4.text-title-color.fw-bold.text-uppercase= title

            .d-flex.align-items-center.gap-1
                // theme (dark mode)
                +theme-darkMode()
                // avatar
                div.dropdown
                    a(type="button" class="p-8px" data-bs-toggle="dropdown" aria-expanded="false")
                        span.d-flex.align-items-center
                            img(src=`${user.avatar || "https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"}` alt=user.fullName width=32 height=32 class="rounded-circle object-fit-cover")
                    .dropdown-menu.dropdown-menu-end.pb-0
                        h6.dropdown-header Welcome #{user.fullName}!
                        a(class="dropdown-item" href=`${prefixAdmin}/profile`)
                            i.bi.bi-person-circle.align-middle.me-2.fs-6
                            span.align-middle Profile
                        a(class="dropdown-item" href=`${prefixAdmin}/messages`)
                            i.bi.bi-chat-left-dots.align-middle.me-2.fs-6
                            span.align-middle Messages
                        a(class="dropdown-item" href=`${prefixAdmin}/auth/lock-screen`)
                            i.bi.bi-person-lock.align-middle.me-2.fs-6
                            span.align-middle Lock Screen
                        div.dropdown-divider.my-1
                        a(class="dropdown-item text-danger" href=`${prefixAdmin}/auth/logout`)
                            i.bi.bi-box-arrow-left.align-middle.me-2.fs-6
                            span.align-middle Logout
                // search
                form.header-search.d-none.d-md-block.ms-3
                    .position-relative
                        input(
                            type="search"
                            class="form-control"
                            placeholder="Search..."
                            autocomplete="off"
                        )
                        .header-icon.bi.bi-search

